 /*予約ページ*/
 div.booking_discription {
    font-family: 'Hachi Maru Pop', cursive;
    font-family: 'Yusei Magic', sans-serif;
    font-size: smaller;
    color: #800000;
  }

  div.booking_form {
    text-align: left;
  }

