 /*予約ページ*/
 div.booking_discription {
    font-family: 'Hachi Maru Pop', cursive;
    font-family: 'Yusei Magic', sans-serif;
    color: #800000;
  }

  div.booking_form {
    width: 50%;
    height: 500px;
    text-align: left;
    float: right;
  }

