/* お知らせ詳細ページ */
.news_discription {
    font-family: 'Hachi Maru Pop', cursive;
    font-family: 'Yusei Magic', sans-serif;
    color: #800000;
    float: inline-start;
    width: 40%;
    margin: 20px;
    padding: 1em;
    background-color: #ffd4cc;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
}

.tape{
    display: block;
    background-color: rgb(204, 190, 187);
    opacity: 0.2;
    transform: rotate(3deg);
    width: 40%;
    height: 35px;
    margin: -2em auto 0 auto;
    border-left: 3px dotted rgba(0,0,0,.1);
    border-right: 3px dotted rgba(0,0,0,.1);
}

.news_discription p {
    margin: 0;
    padding: 0;
}

.instagram {
    margin-right:150;
    float: right;
}

@media screen and (min-width: 480px) {
    /*ニュース画像*/
    .news_image {
        text-align: center;
        float: inline-start;
        margin:5px;
        max-width: 45%;
    }
    
    .news_image img {
        max-width: 30vw;
        max-height: 480px;
    }
}

/* スマホ向け */
@media screen and (max-width: 480px){
    div.news_discription {
        font-size: smaller;
        font-family: 'Yusei Magic', sans-serif;
        color: #800000;
        float: left;
        width: 90%;
        max-height: 600px;
        margin: 10px;
        padding: 1px;
        background-color: #ffd4cc;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
    }

    .tape{
        display: block;
        background-color: rgb(204, 190, 187);
        opacity: 0.2;
        transform: rotate(3deg);
        width: 40%;
        height: 35px;
        margin: -2em auto 0 auto;
        border-left: 3px dotted rgba(0,0,0,.1);
        border-right: 3px dotted rgba(0,0,0,.1);
    }

    .news_image {
        width: 95%;
        height: 80%;
        margin: 25px;
    }

    .news_image img {
        max-width: 300px;
    }
}
